/* Header */
.header-wrap {
  width: 386px;
  /* height: 204px; */
  margin: auto;
}

.logo {
  width: 386px;
  /* input-security: 386 / 180; */
}

/* Body Grid */
.container {
  width: 748px;
  margin: 44px auto 44px auto;
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  gap: 28px;
}

.menu {
  grid-area: a;
  background: #fff;
  padding-top: 31px;
  padding-bottom: 28px;
}

.cash {
  grid-area: b;
  background: #fff;
}

.get {
  grid-area: c;
  background: #fff;
}

/* 반응형 */
@media (max-width: 747px) {
  .container {
    grid-template-areas:
      "a"
      "b"
      "c";
    gap: 0px;
    width: 360px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .header-wrap {
    width: 50%;
  }
  .logo {
    width: 100%;
  }
  .menu {
    padding-bottom: 5px;
  }
}

@media (max-width: 430px) {
  body {
    background-color: #fff;
  }
  .container {
    margin: 0 auto 44px auto;
  }
}
